@font-face {
    font-family : 'user-font';
    src : url(../font/PretendardVariable.ttf)
}

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-size: 14px;
    font-family: 'user-font';
    overflow:auto;
}

hr {
    border: 1px solid #cbcbcb;
    margin: 20px 0px;
}

.App {
    padding-top: 100px;
}

.logo {
    padding-bottom: 50px;
    font-size: 100%;
    color: #ff0000;
}

/* login.js, register.js*/

.login-wrapper {
    width: 400px;
    height: 80%;
    padding: 40px;
    box-sizing: border-box;
    background-color: #2d2d2d;
    border-radius: 3%;
    opacity: 80%;
    box-shadow: 2px 2px 5px #4d4d4d;
    margin-bottom: 10%;
}

.login-wrapper > h3 {
    font-size: 24px;
    color: #ff0000;
    margin-bottom: 40px;
    text-align: left;
}

.login-wrapper > div {
    margin-top: 20px;
}

.login-wrapper > div > a {
    margin-top: 100px;
    font-size: 10px;
    text-decoration-line: none;
    color: #FFFFFF;  
}

#login-form > input {
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 2%;
    border-radius: 6px;
    background-color: #969696;
    color: #FFFFFF;
}

#login-form > input::placeholder {
    color: #D2D2D2;
}

#login-form > input[type="submit"] {
    color: #fff;
    font-size: 16px;
    background-color: #ff0000;
    margin-top: 20px;
}

#login-form > input[type="submit"]:hover {
    font-size: 16px;
    background-color: #c91818;
    margin-top: 20px;
}


#login-form > label{
    color: #999999;
}

/* main.js  */

.movie {
    width:100%;
}

.movie > div > a > img {
    width:30%;
}

#g_img {
    width: 300px;
}

#reroll {
    margin-top: 30px;
}

#reroll > button {
    background-color: #ff0000;
    color:#FFFFFF;
    width: 150px;
    height:36px;
    border-radius: 10px;
    cursor: pointer;
}

#reroll > button:hover {
    background-color: #ff4343;
}

.recommend-div.active {
    display: none;
}

h5 {
    margin-top: 50px;
}

.carousel-div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
    background-color: #383838;
    border-radius: 10px;
    margin-top: 30px;
    overflow-x:hidden;
}

.carousel-items {
    padding-top:7px;
}

.carousel-button {
    height:100%;
    background-color: #0000007f;
    color:#FFFFFF;
    padding:15px;
    cursor: pointer;
}

.carousel-button.prev, .carousel-button.next {
    position: absolute;
}

.carousel-button.prev {
    left: 0; 
}
  
.carousel-button.next {
    right: 0;
}

.carousel-img {
    width: 150px;
    height: 200px;
    margin: 0px 10px;
}

/* mypage.js */

.mypage {
    display: flex;
    width: 100%;
}

.mypage-menu {
    width: 200px;
    background-color: #2d2d2d;
    border-radius: 10px;
    opacity: 80%;
    padding: 20px;
}

.mypage-menu > a {
    display: block;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
    color: #FFFFFF;
}

.mypage-menu > p {
    font-size: 30px;
    padding-bottom: 40px;
}

.mypage-menu > a:nth-last-child(1) {
    color: #ff3636;

}

.mypage-main {
    width: 800px;
    background-color: #2d2d2d;
    margin-left: 10%;
    box-sizing: border-box;
    opacity: 80%;
    border-radius: 10px;
    padding: 40px;
}

.mypage-main > a:nth-child(1) {
    font-size: 20px;
}

.mypage-bookmark {
    margin:5px;
    font-size: 20px;
}

.mypage-bookmark > a {
    color: #FFFFFF;
}

#menu-form > input {
    width: 50%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 2%;
    border-radius: 6px;
    background-color: #969696;
    color: #FFFFFF;
}

#menu-form > input[type="checkbox"] {
    color: #fff;
    width: 20%;
    font-size: 16px;
    background-color: #ff0000;
    margin-top: 20px;
}

#menu-form > input[type="submit"] {
    color: #fff;
    width: 20%;
    font-size: 16px;
    background-color: #ff0000;
    margin-top: 20px;
}

#menu-form > input[type="submit"]:hover {
    font-size: 16px;
    background-color: #c91818;
    margin-top: 20px;
}

.caution-box {
    margin-bottom:20px;
    font-size: 18px;
}

.caution-box > input[type="checkbox"] {
    width:30px;
}

input[type="password"]::placeholder {
    color: #FFFFFF;
}


/* information.js */

.information-movie {
    width: 1100px;
    display: flex;
    background-color: #2d2d2d;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 10%;
}

.movie-poster > img {
    width:250px;
    margin: 0px 50px 0px 0px;
}

.movie-genre {
    margin-top: 15px;
    width: 250px;
    height:150px;
}

.genre-item {
    font-size: 15px;
}

.movie-tags {
    margin-top: 15px;
}

.tag-item {
    font-size: 15px;
}

.movie-head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
}

.movie-title {
    font-size: 40px;
    font-weight: bolder;
    margin-right: 10px;
}

.movie-head > button {
    width:100px;
    height: 40px;
    background-color: #008800;
    color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}

.movie-head > button.active {
    background-color: #ff0000;
}

.movie-description {
    width: 700px;
}

.movie-summary {
    font-size: 20px;
    text-align: left;
    padding-bottom: 5%;
}

.movie-summary > p:nth-child(1) {
    font-size: 30px;
}

.rating {
    display: flex;
    padding-bottom: 5%;
}

.rating > p {
    font-size: 30px;
    margin-right: 40px;
}

.star-rating > p {
    font-size: 25px;
}

.star {
    width:30px;
    height:30px;
}



.movie-comment {
    background-color: #2d2d2d;
    text-align: left;
    padding: 40px;
    margin-bottom: 3%;
    border-radius: 10px;
}

/* list.js */

.movie-list {
    width:1200px;
    display: grid;
    column-gap: 65px;
    grid-template-columns: repeat(6, 12%);
}

.grid-item {
    display: inline-grid;
    padding-bottom: 50%;
}

.grid-item > a {
    color: #FFFFFF;
}

.grid-img {
    width: 100%;
}

.grid-title {
    margin-top: 15px;
    font-size: 15px;
}

/* pagination */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

ul {
    list-style: none;
    padding: 0;
}

ul.pagination li {
    display: inline-block;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border-radius: 10px;
}

ul.pagination li:first-child{
    border-radius: 5px 0 0 5px;
}

ul.pagination li:last-child{
    border-radius: 0 5px 5px 0;
}

ul.pagination li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

ul.pagination li.active a {
    color: white;
}

ul.pagination li a:hover {
    color: rgb(200, 46, 46);
}

ul.pagination li.active a:hover {
    color: white;
}

ul.pagination li.active {
    background-color: rgb(200, 46, 46);
}

.page-selection {
    width: 48px;
    height: 30px;
    color: rgb(200, 46, 46);
}



